<div class="flex flex-col xxs:flex-row xs:flex-row sm:flex-row md:flex-row mdx:flex-row lg:flex-row slg:flex-row xl:flex-row 2xl:flex-row">
    <app-menu></app-menu>
    
    <div class="flex-1 mt-8 lg:mt-0 lg:ml-14  transition-all duration-300">
        <div class="flex flex-col lg:flex-row  lg:mt-20 ml-16 lg:ml-5 mr-2 lg:mr-5">

        <table class="min-w-full divide-y divide-gray-200 xxs:text-xs sm:text-sm md:text-base">
            <thead>
                <tr>
                    <th class="px-2 xxs:px-4 sm:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
                    <th class="px-2 xxs:px-4 sm:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fecha</th>
                    <th class="px-2 xxs:px-4 sm:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora</th>
                    <th class="px-2 xxs:px-4 sm:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Accion</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                    <td class="px-2 xxs:px-4 sm:px-6 py-4 whitespace-nowrap">Yahir Nava</td>
                    <td class="px-2 xxs:px-4 sm:px-6 py-4 whitespace-nowrap">12/09/2024</td>
                    <td class="px-2 xxs:px-4 sm:px-6 py-4 whitespace-nowrap">20:30</td>
                    <td class="px-2 xxs:px-4 sm:px-6 py-4 whitespace-nowrap">
                        <button class="ml-2 px-2 xxs:px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td class="px-2 xxs:px-4 sm:px-6 py-4 whitespace-nowrap">Alexis Alatorre</td>
                    <td class="px-2 xxs:px-4 sm:px-6 py-4 whitespace-nowrap">11/09/2024</td>
                    <td class="px-2 xxs:px-4 sm:px-6 py-4 whitespace-nowrap">09:30</td>
                    <td class="px-2 xxs:px-4 sm:px-6 py-4 whitespace-nowrap">
                        <button class="ml-2 px-2 xxs:px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
